.App {
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content:space-evenly;
}

.adminBut{
  position: relative;
  top:0vh;
 
  
}

.divide {
  width:95vw;
  height:.5vh;
  background-color: antiquewhite
}
.info{

}
.songcard{
  background-color: #3f7280;
  font-size: .7em;
 

}
.logo{
  height:60vh;
}
.spanX {
  cursor: pointer;
  font-size:22px;
}

button {
  background-color:#3f7280;
  color:antiquewhite;
  height:30px;
  width:120px;
  border-radius: 10px;
}
input {
  height:25px;
  width:170px;
  padding:5px;
  padding-left: 67px;
}
textarea {
  height:35px;
  width:200px;
  padding:5px;
}
label {
 
}